### write a pythone program add a tow number

In [2]:
a = int(input("inter the first number: "))
b = int(input("inter the second number: "))
print("the sum of those two number is: ",a+b)

inter the first number: 2
inter the second number: 3
the sum of those two number is:  5

### write a pythone program to find rimander when A number is devided by 2

In [4]:
number = int(input("inter the number: "))
print("remainder is when the number in divide by 2 is :",number%2)

inter the number: 77
remainder is when the number in divide by 2 is : 1

### check the type of bariable assing usung input () function

In [25]:
number = int(input("inter the number: "))
print("the number is divisible by 2 is a :",number%2)

inter the number: 33
the number is divisible by 2 is a : 1

In [7]:
a = input("inter somthing: ")
print("the type of a is:",type(a))

inter somthing: 2
the type of a is: <class 'str'>

In [27]:
a = input("inter somthing: ")
print(" the type of a is: ",type(a))

inter somthing: 3.4
 the type of a is:  <class 'str'>

In [29]:
a = 2 
b = 4
print(" a is grater then b or not :", a<b)

 a is grater then b or not : True

### use a comparision oprator to find out whether a given variable Ais greater thn B or not a=43 and b=80

In [8]:
a = 32
b = 80
print("a is greater then b is: ",a>b)

a is greater then b is:  False

In [9]:
a = 326
b = 80
print("a is greater then b is: ",a>b)

a is greater then b is:  True

### writer a python program to find avarage of two number entire by the user

In [11]:
a = int(input("enter the number is:"))
print("the square of these number is:",a*a)

enter the number is:9
the square of these number is: 81

### writer a python program to calculate square of number entire by the user

#                   string

In [12]:
name = "priya"
print(name)

priya

In [15]:
print(name[2])

i

In [16]:
name = 'priya'
print(name)

priya

In [17]:
print(name[2])

i

In [19]:
print(name[0:4])

priy

In [22]:
print(name[0:5:3])

py

In [30]:
mystring = "my name is priya"
print(mystring)

my name is priya

In [31]:
print(mystring.startswith('pr'))

False

In [26]:
print(mystring.endswith("iya"))

True

In [27]:
print(mystring.startswith("iya"))

False

In [28]:
print(mystring.capitalize())

My name is priya

In [29]:
print(mystring.count("a"))

2

In [30]:
print(mystring.find("priya"))

11

In [31]:
print(mystring.replace("priya","poonam"))

my name is poonam

In [34]:
mname = 'my name\nis priya'
print(mname)

my name
is priya

In [36]:
mname = 'my name\n to \t is priya'
print(mname)

my name
 to 	 is priya

name = input('inter your name:

In [37]:
name = input('inter your name:')
print('good morning:'+name)

inter your name:ankita
good morning:ankita

In [44]:
name = input('inter the name:')
date = input('inter the date:')

template = '''
dear <|name|>,
you are selected
<|date|>
'''

print(template.replace('<|name|>',name).replace('<|date|>',date))

inter the name:priya
inter the date:31

dear priya,
you are selected
31

In [46]:
mystr = 'i am a  good  girl'

In [48]:
print(mystr.find('  '))

6

In [49]:
print(mystr.replace('  ',' '))

i am a good girl

# list and tuple

In [52]:
a = 1
b =" hii darsh"
c = False

In [54]:
mylist = [a,b,c]
print(mylist)

[1, ' hii darsh', False]

In [55]:
print(type(mylist))

<class 'list'>

In [56]:
l1 = [1,2,'priya']
print(l1)

[1, 2, 'priya']

In [57]:
print(l1[2])

priya

In [58]:
print(l1[0:3])

[1, 2, 'priya']

In [33]:
l2 = [1,3,5,2,7,9,4,6,5]
l2

[1, 3, 5, 2, 7, 9, 4, 6, 5]

In [34]:
print(l2.sort())

None

In [35]:
l2.sort()
print(l2)

[1, 2, 3, 4, 5, 5, 6, 7, 9]

In [36]:
l2.reverse()
l2

[9, 7, 6, 5, 5, 4, 3, 2, 1]

In [37]:
l2.append(3)

In [38]:
l2

[9, 7, 6, 5, 5, 4, 3, 2, 1, 3]

In [39]:
l2.insert(2 ,3)

In [40]:
l2

[9, 7, 3, 6, 5, 5, 4, 3, 2, 1, 3]

In [73]:
l2.pop(2)
l2

[9, 7, 6, 5, 5, 4, 3, 2, 1, 3]

In [76]:
l2.remove(3)
l2

[9, 7, 6, 5, 5, 4, 2, 1]

# tuple

# tuple is a immutable data type

In [78]:
t1 = (1,2,3,4,6,'tom')

In [79]:
t1

(1, 2, 3, 4, 6, 'tom')

In [80]:
type(t1)

tuple

In [81]:
print(t1[2])

3

In [82]:
t2 = (1,2,3,4,5,2,3,4,1,2,3,4,5,1,2,3,4,5,6)
t2

(1, 2, 3, 4, 5, 2, 3, 4, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6)

In [86]:
print(t2.count(6))

1

In [92]:
t2.index(1)

0

In [96]:
f1 = input("enter the fruit 1: ")
f2 =  input("enter the fruit 2: ")
f3 =  input("enter the fruit 3: ")
f4 =  input("enter the fruit 4: ")
f5 =  input("enter the fruit 5: ")
f6 = input ("enter the fruit 6: ")

enter the fruit 1: mango
enter the fruit 2: banana
enter the fruit 3: apple
enter the fruit 4: graps
enter the fruit 5: tomato
enter the fruit 6: mangow

In [1]:
f1 = input("enter the fruit 1: ")
f2 =  input("enter the fruit 2: ")
f3 =  input("enter the fruit 3: ")
f4 =  input("enter the fruit 4: ")
f5 =  input("enter the fruit 5: ")
f6 = input ("enter the fruit 6: ")

enter the fruit 1: mango
enter the fruit 2: banana
enter the fruit 3: graps
enter the fruit 4: tomato
enter the fruit 5: chips
enter the fruit 6: biskut

In [3]:
fruitlist = [f1,f2,f3,f4,f5,f6]
print(fruitlist)

['mango', 'banana', 'graps', 'tomato', 'chips', 'biskut']

In [97]:
fruitlist = [f1,f2,f3,f4,f5,f6]
print(fruitlist)

['mango', 'banana', 'apple', 'graps', 'tomato', 'mangow']

In [98]:
marks1 = int(input("enter the studrnt marks 1: "))
marks2 = int(input("enter the studrnt marks 2: "))
marks3 = int(input("enter the studrnt marks 3: "))
marks4 = int(input("enter the studrnt marks 4: "))
marks5 = int(input("enter the studrnt marks 5: "))
marks6 = int(input ("enter the studrnt marks 6: "))

enter the studrnt marks 1: 89
enter the studrnt marks 2: 87
enter the studrnt marks 3: 99
enter the studrnt marks 4: 98
enter the studrnt marks 5: 97
enter the studrnt marks 6: 78

In [101]:
markslist = [marks1,marks2,marks3,marks4,marks5,marks6]
print(markslist)

[89, 87, 99, 98, 97, 78]

In [103]:
markslist.sort()
print(markslist)

[78, 87, 89, 97, 98, 99]

In [104]:
mylist = [1,2,3,4,]
sum = 0
sum += mylist[0]
sum += mylist[1]
sum += mylist[2]
sum += mylist[3]
print("the value of sum is",sum)

the value of sum is 10

# ditctonary is a mutable data type

In [105]:
mydict = { 'name':'priya',
         'class':10,
         'subject':'math',}
mydict

{'name': 'priya', 'class': 10, 'subject': 'math'}

In [109]:
print(mydict.keys())

dict_keys(['name', 'class', 'subject'])

In [111]:
print(list(mydict.values()))

['priya', 10, 'math']

In [112]:
print(mydict.items())

dict_items([('name', 'priya'), ('class', 10), ('subject', 'math')])

In [113]:
updtmydict = {'poonam':'sister'}

In [114]:
mydict.update(updtmydict)

In [115]:
print(mydict)

{'name': 'priya', 'class': 10, 'subject': 'math', 'poonam': 'sister'}

In [116]:
updtmydict = {'poonam':'friend'}

In [117]:
mydict.update(updtmydict)

In [118]:
print(mydict)

{'name': 'priya', 'class': 10, 'subject': 'math', 'poonam': 'friend'}

# sets

In [119]:
s1 = {2,1,2,1,3,4,5,6,5,4,3}
s1

{1, 2, 3, 4, 5, 6}

In [4]:
mydict = {
    "pankha":"fan",
    "balb":"light",
    "tel":"oil"
}
print("option are",mydict.keys())
a = input("inter the hindi words\n")
print('the meaning of ur word is:',mydict[a])

option are dict_keys(['pankha', 'balb', 'tel'])
inter the hindi words
pankha
the meaning of ur word is: fan

In [6]:
mydict = {
    "pankha":"fan",
    "balb":"light",
    "tel":"oil"
}
print("option are",mydict.keys())
a = input("inter the hindi word\n")
print("the meaning of your word is:",mydict[a])

option are dict_keys(['pankha', 'balb', 'tel'])
inter the hindi word
pankha
the meaning of your word is: fan

# if ilif else condition

In [9]:
age = int(input("inter your age: "))   # use and operator
if (age>25 and age<40):
    print("you are iligibale for this job")
    
else:
    print("you dont get this job")

inter your age: 44
you dont get this job

In [7]:
age = int(input("inter your age: "))
if (age>25 or age<40):
    print("you are iligibale for this job")
    
else:
    print("you dont get this job")

inter your age: 2
you are iligibale for this job

In [8]:
age = int(input("inter your age: "))
if (age>25 and age<40):
    print("you are iligibale for this job")
    
else:
    print("you dont get this job")

inter your age: 22
you dont get this job

In [14]:
a = 6
if (a==8):
    print('waoo')
    
elif (a<4):
    print('nothing yr')
    
else:
    print('i am optional')

i am optional

## practice 1

In [23]:
num1 = int(input("inter the number 1: "))
num2 = int(input("inter the number 2: "))
num3 = int(input("inter the number 3: "))
num4 = int(input("inter the number 4: "))
           
if (num1>num4):
           f1 = num1
           
else:
     f1 = num2
           
if (num2>num3):
           f2=num2
else:
           f2=num1
           
if (f1>f2):
           print(str (f1),"strong number")
else:
           print(str(f2),"no stronger")

inter the number 1: 2
inter the number 2: 333
inter the number 3: 4
inter the number 4: 6
333 no stronger

In [28]:
sub1 = int(input("enter the sub1: "))
sub2 = int(input("enter the sub2: "))
sub3 = int(input("enter the sub3: "))
if (sub1<33 or sub2<33 or sub3<33):
    print("yoy are fail")
if(sub1+sub2+sub3)/3 <40:
    print("fail")
    
else:
    print(" congratulation you are not fail")

enter the sub1: 24
enter the sub2: 88
enter the sub3: 67
yoy are fail
 congratulation you are not fail

In [13]:
sub1 = int(input("enter the sub1: "))
sub2 = int(input("enter the sub2: "))
sub3 = int(input("enter the sub3: "))
if (sub1<33 and sub2<33  and sub3<33):
    print("yoy are fail")
if(sub1+sub2+sub3)/3 <40:
    print("fail")
    
else:
    print(" congratulation you are not fail")

enter the sub1: 42
enter the sub2: 43
enter the sub3: 44
 congratulation you are not fail

# while loop

In [36]:
i = 0
while i<10:
    print("yes"+str(i))
    i=i+1
    
print("done")

yes0
yes1
yes2
yes3
yes4
yes5
yes6
yes7
yes8
yes9
done

In [43]:
i = 1
while i<=8:
    print('hi'+str(i))
    i = i+1
    
print("yes")

hi1
hi2
hi3
hi4
hi5
hi6
hi7
hi8
yes

In [48]:
i = 0
while i<5:
    print("priya")
    i = i+1

priya
priya
priya
priya
priya

In [16]:
i = 0
while i<10:
    print("yes"+str(i))
    i=i+1
    
print("done")

yes0
yes1
yes2
yes3
yes4
yes5
yes6
yes7
yes8
yes9
done

In [1]:
fruit = ['banana','mangow','apple','pinapple','watermelon']
i = 0
while i<len(fruit):
    print(fruit[i])
    i = i+1

banana
mangow
apple
pinapple
watermelon

In [17]:
fruit = ['banana','mangow','apple','pinapple','watermelon']

for items in fruit:
    print(fruit)

['banana', 'mangow', 'apple', 'pinapple', 'watermelon']
['banana', 'mangow', 'apple', 'pinapple', 'watermelon']
['banana', 'mangow', 'apple', 'pinapple', 'watermelon']
['banana', 'mangow', 'apple', 'pinapple', 'watermelon']
['banana', 'mangow', 'apple', 'pinapple', 'watermelon']

In [7]:
for i in range (1,8,2):
    print(i)

1
3
5
7

In [8]:
for i in range(13):
    print(i)
else:
    print("my project is done")

0
1
2
3
4
5
6
7
8
9
10
11
12
my project is done

In [18]:
for i in range(13):
    print(i)

print("my project is done")

0
1
2
3
4
5
6
7
8
9
10
11
12
my project is done

In [9]:
for i in range(13):
    print(i)
    if i == 5:
        break
else:
    print("my project is done")

0
1
2
3
4
5

In [10]:
for i in range(13):
    print(i)
    if i == 5:
        continue
else:
    print("my project is done")

0
1
2
3
4
5
6
7
8
9
10
11
12
my project is done

In [15]:
for i in range(13):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12

In [18]:
num = int(input("enter the value"))
for i in range (1,11):
    print(f"{num}X{i}={i*1}")

enter the value6
6X1=1
6X2=2
6X3=3
6X4=4
6X5=5
6X6=6
6X7=7
6X8=8
6X9=9
6X10=10

In [20]:
l1 = ( "priya","priya","ankiya","priti")
for name in l1:
    if name.startswith("p"):
        print("hello "+name)

hello priya
hello priya
hello priti

In [21]:
l1 = ( "priya","priya","ankiya","priti")
for name in l1:
    if name.startswith("p"):
        print("hello "+name)

hello priya
hello priya
hello priti

# function

In [25]:
def greet(name):
    print("good day " + name)
greet("priya")

good day priya

In [32]:
def greet(name):
    print("good day " + name)
    
def mysum(num1,num2):
    return  num1+num2
greet("priya")    
s = mysum(6,4)
print(s)

good day priya
10

In [34]:
n = 6
for i in range(n):
    print("*" * (n-i))

******
*****
****
***
**
*

In [7]:
def multiplication_or_sum(num1, num2):
    product = num1 * num2
    if product <= 1000:
        return product
    else:
         return num1+num2
        
data = multiplication_or_sum(10, 10)
print ("the result is", data)

data = multiplication_or_sum(40, 30)
print ("the result is", data)

the result is 100
the result is 70

In [15]:
print("previus and current numbers there are sum is a range of (10): ")
previus_no = 0
for i in range (1,11):
    x_sum = previus_no + i
    print("current no is", i ,"previus no is", previus_no, "sum:", previus_no + i)
    previus_no = i

previus and current numbers there are sum is a range of (10):
current no is 1 previus no is 0 sum: 1
current no is 2 previus no is 1 sum: 3
current no is 3 previus no is 2 sum: 5
current no is 4 previus no is 3 sum: 7
current no is 5 previus no is 4 sum: 9
current no is 6 previus no is 5 sum: 11
current no is 7 previus no is 6 sum: 13
current no is 8 previus no is 7 sum: 15
current no is 9 previus no is 8 sum: 17
current no is 10 previus no is 9 sum: 19

In [16]:
word = input('Enter word ')
print("Original String:", word)

# using list slicing
# convert string to list
# pick only even index chars
x = list(word)
for i in x[0::2]:
    print(i)

Enter word priyamitmishra
Original String: priyamitmishra
p
i
a
i
m
s
r

In [17]:
def remove_chars(word, n):
    print('Original string:', word)
    x = word[n:]
    return x

print("Removing characters from a string")
print(remove_chars("pynative", 4))
print(remove_chars("pynative", 2))

Removing characters from a string
Original string: pynative
tive
Original string: pynative
native

In [21]:
def first_last_same(numberList):
    print("Given list:", numberList)
    
    first_num = numberList[0]
    last_num = numberList[-1]
    
    if first_num == last_num:
        return True
    else:
        return False
    
numbers_x = [10, 20, 30, 40, 10]
print("result is", first_last_same(numbers_x))

numbers_y = [75, 65, 35, 75, 30]
print("result is", first_last_same(numbers_y))

Given list: [10, 20, 30, 40, 10]
result is True
Given list: [75, 65, 35, 75, 30]
result is False

In [22]:
num_list = [10, 20, 33, 46, 55]
print("Given list:", num_list)
print('Divisible by 5:')
for num in num_list:
    if num % 5 == 0:
        print(num)

Given list: [10, 20, 33, 46, 55]
Divisible by 5:
10
20
55

In [23]:
str_x = "Emma is good developer. Emma is a writer"
# use count method of a str class
cnt = str_x.count("Emma")
print(cnt)

2

In [24]:
for num in range(10):
    for i in range(num):
        print (num, end=" ") #print number
    # new line after each row to display pattern correctly
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

In [25]:
def merge_list(list1, list2):
    result_list = []
    
    # iterate first list
    for num in list1:
        # check if current number is odd
        if num % 2 != 0:
            # add odd number to result list
            result_list.append(num)
    
    # iterate second list
    for num in list2:
        # check if current number is even
        if num % 2 == 0:
            # add even number to result list
            result_list.append(num)
    return result_list

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
print("result list:", merge_list(list1, list2))

result list: [25, 35, 40, 60, 90]

In [26]:
number = 7536
print("Given number", number)
while number > 0:
    # get the last digit
    digit = number % 10
    # remove the last digit and repeat the loop
    number = number // 10
    print(digit, end=" ")

Given number 7536
6 3 5 7

In [27]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=" ")
    print("\t\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [36]:
for i in range(1, 11):
    j = i+1
print(i*1)

10

In [37]:
num1 = int(input("Enter first number "))
num2 = int(input("Enter second number "))

res = num1 * num2
print("Multiplication is", res)

Enter first number 3
Enter second number 2
Multiplication is 6

In [38]:
num = 8
print('%o' % num)

10

In [39]:
num = 458.541315
print('%.2f' % num)

458.54

In [41]:
numbers = []

# 5 is the list sis)ze
# run loop 5 times
for i in range(0, 5):
    print("Enter number at location", i, ":")
    # accept float number from user
    item = float(input())
    # add it to the list
    numbers.append(item)

print("User List:", numbers)

Enter number at location 0 :
2
Enter number at location 1 :
2
Enter number at location 2 :
3
Enter number at location 3 :
e

ValueError: could not convert string to float: 'e'

# excersize loop

In [42]:
#Exercise 1: Print First 10 natural numbers using while loop
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [43]:
#Exercise 2: Print the following pattern
print("Number Pattern ")

# Decide the row count. (above pattern contains 5 rows)
row = 5
# start: 1
# stop: row+1 (range never include stop number in result)
# step: 1
# run loop 5 times
for i in range(1, row + 1, 1):
    # Run inner loop i+1 times
    for j in range(1, i + 1):
        print(j, end=' ')
    # empty line after each row
    print("")

Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [44]:
#Exercise 3: Calculate the sum of all numbers from 1 to a given number
# s: store sum of all numbers
s = 0
n = int(input("Enter number "))
# run loop n times
# stop: n+1 (because range never include stop number in result)
for i in range(1, n + 1, 1):
    # add current number to sum variable
    s += i
print("\n")
print("Sum is: ", s)

Enter number 2


Sum is:  3

In [46]:
#Exercise 4: Write a program to print multiplication table of a given number
n = 2
# stop: 11 (because range never include stop number in result)
# run loop 10 times
for i in range(1, 11, 1):
    # 2 *i (current number)
    product = n * i
    print(product)

2
4
6
8
10
12
14
16
18
20

In [47]:
#Exercise 5: Display numbers from a list using loop
#The number must be divisible by five
#If the number is greater than 150, then skip it and move to the next number
#If the number is greater than 500, then stop the loop
numbers = [12, 75, 150, 180, 145, 525, 50]
# iterate each item of a list
for item in numbers:
    if item > 500:
        break
    elif item > 150:
        continue
    # check if number is divisible by 5
    elif item % 5 == 0:
        print(item)

75
150
145

In [48]:
#Exercise 6: Count the total number of digits in a number
num = 75869
count = 0
while num != 0:
    # floor division
    # to reduce the last digit from number
    num = num // 10

    # increment counter by 1
    count = count + 1
print("Total digits are:", count)

Total digits are: 5

In [49]:
#Exercise 7: Print the following pattern
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [50]:
#Exercise 8: Print list in reverse order using a loop
list1 = [10, 20, 30, 40, 50]
# reverse list
new_list = reversed(list1)
# iterate reversed list
for item in new_list:
    print(item)

50
40
30
20
10

In [51]:
#list1 = [10, 20, 30, 40, 50]
# get list size
# len(list1) -1: because index start with 0
# iterate list in reverse order
# star from last item to first
size = len(list1) - 1
for i in range(size, -1, -1):
    print(list1[i])

50
40
30
20
10

In [53]:
#Exercise 9: Display numbers from -10 to -1 using for loop
for num in range(-10, 0, 1):
    print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [54]:
#Exercise 10: Use else block to display a message Done after successful execution of for loop
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

In [55]:
#Exercise 11: Write a program to display all prime numbers within a range
#Note: A Prime Number is a number that cannot be made by multiplying other whole numbers.
    #A prime number is a natural number greater than 1 that is not a product of two smaller natural numbers

start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    # all prime numbers are greater than 1
    # if number is less than or equal to 1, it is not prime
    if num > 1:
        for i in range(2, num):
            # check for factors
            if (num % i) == 0:
                # not a prime number so break inner loop and
                # look for next number
                break
        else:
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

In [56]:
#Exercise 12: Display Fibonacci series up to 10 terms
# first two numbers
num1, num2 = 0, 1

print("Fibonacci sequence:")
# run loop 10 times
for i in range(10):
    # print next number of a series
    print(num1, end="  ")
    # add last two numbers to get next number
    res = num1 + num2

    # update values
    num1 = num2
    num2 = res

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [57]:
#Exercise 13: Find the factorial of a given number
num = 5
factorial = 1
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    # run loop 5 times
    for i in range(1, num + 1):
        # multiply factorial by current number
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

The factorial of 5 is 120

In [59]:
#Exercise 14: Reverse a given integer number
num = 76542
reverse_number = 0
print("Given Number ", num)
while num > 0:
    reminder = num % 10
    reverse_number = (reverse_number * 10) + reminder
    num = num // 10
print("Revere Number ", reverse_number)

Given Number  76542
Revere Number  24567

In [60]:
#Exercise 15: Use a loop to display elements from a given list present at odd index positions
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
# stat from index 1 with step 2( means 1, 3, 5, an so on)
for i in my_list[1::2]:
    print(i, end=" ")

20 40 60 80 100

In [ ]:
#Exercise 16: Calculate the cube of all numbers from 1 to a given number

input_number = 6
for i in range(1, input_number + 1):
    print("Current Number is :", i, " and the cube is", (i * i * i))
 Run

In [61]:
#Exercise 17: Find the sum of the series upto n terms
n = 5
# first number of sequence
start = 2
sum_seq = 0

# run loop n times
for i in range(0, n):
    print(start, end="+")
    sum_seq += start
    # calculate the next term
    start = start * 10 + 2
print("\nSum of above series is:", sum_seq)

2+22+222+2222+22222+
Sum of above series is: 24690

In [62]:
#Exercise 18: Print the following pattern
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [20]:
rows = 5
for i in range(0,rows):
    for j in range(0,i+1):
        print("*",end=" ")
    print("\r")
    
for i in range(rows,0 ,-1):
    for j in range(0,i-1):
        print("*",end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [21]:
#Exercise 1: Create a function in Python
# demo is the function name
def demo(name, age):
    # print value
    print(name, age)

# call function
demo("Ben", 25)

Ben 25

In [1]:
#Exercise 2: Create a function with variable length of arguments
def func1(*args):
    for i in args:
        print(i)

func1(20, 40, 60)
func1(80, 100)

20
40
60
80
100

In [2]:
#Exercise 3: Return multiple values from a function
def calculation(a, b):
    addition = a + b
    subtraction = a - b
    # return multiple values separated by comma
    return addition, subtraction

# get result in tuple format
res = calculation(40, 10)
print(res)

(50, 30)

In [3]:
#Exercise 4: Create a function with default argument
# function with default argument
def show_employee(name, salary=9000):
    print("Name:", name, "salary:", salary)

show_employee("Ben", 12000)
show_employee("Jessa")

Name: Ben salary: 12000
Name: Jessa salary: 9000

In [4]:
#Exercise 5: Create an inner function to calculate the addition in the following way
# outer function
def outer_fun(a, b):
    square = a ** 2

    # inner function
    def addition(a, b):
        return a + b

    # call inner function from outer function
    add = addition(a, b)
    # add 5 to the result
    return add + 5

result = outer_fun(5, 10)
print(result)

20

In [6]:
#Exercise 6: Create a recursive function
def addition(num):
    if num:
        # call same function by reducing number by 1
        return num + addition(num - 1)
    else:
        return 0

res = addition(10)
print(res)

55

In [7]:
#Exercise 7: Assign a different name to function and call it through the new name

def display_student(name, age):
    print(name, age)

# call using original name
display_student("Emma", 26)

# assign new name
showStudent = display_student
# call using new name
showStudent("Emma", 26)

Emma 26
Emma 26

In [9]:
#Exercise 8: Generate a Python list of all the even numbers between 4 to 30
print(list(range(4, 30, 2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [28]:
#Exercise 9: Find the largest item from a given list
x = [4, 6, 8, 24, 12, 2]
print(min(x))

2

In [11]:
str1 = 'James'
print("Original String is", str1)

# Get first character
res = str1[0]

# Get string size
l = len(str1)
# Get middle index number
mi = int(l / 2)
# Get middle character and add it to result
res = res + str1[mi]

# Get last character and add it to result
res = res + str1[l - 1]

print("New String:", res)

Original String is James
New String: Jms

In [13]:
def get_middle_three_chars(str1):
    print("Original String is", str1)

    # first get middle index number
    mi = int(len(str1) / 2)

    # use string slicing to get result characters
    res = str1[mi - 1:mi + 2]
    print("Middle three chars are:", res)

get_middle_three_chars("JhonDipPeta")
get_middle_three_chars("JaSonAy")

Original String is JhonDipPeta
Middle three chars are: Dip
Original String is JaSonAy
Middle three chars are: Son

In [14]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."
print("Original String is:", str1)

index = str1.rfind("Emma")
print("Last occurrence of Emma starts at index:", index)

Original String is: Emma is a data scientist who knows Python. Emma works at google.
Last occurrence of Emma starts at index: 43

In [15]:
str1 = "Emma-is-a-data-scientist"
print("Original String is:", str1)

# split string
sub_strings = str1.split("-")

print("Displaying each substring")
for sub in sub_strings:
    print(sub)

Original String is: Emma-is-a-data-scientist
Displaying each substring
Emma
is
a
data
scientist

In [17]:
str1 = "Emma-is-a-data-scientist"
print("Original String is:", str1)

# split string
sub_strings = str1.split("-")
print(sub_strings)

Original String is: Emma-is-a-data-scientist
['Emma', 'is', 'a', 'data', 'scientist']

In [18]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
res_list = []
for s in str_list:
    # check for non empty string
    if s:
        res_list.append(s)
print(res_list)

['Emma', 'Jon', 'Kelly', 'Eric']

In [19]:
#Exercise 15: Remove special symbols / punctuation from a string
import string

str1 = "/*Jon is @developer & musician"
print("Original string is ", str1)

new_str = str1.translate(str.maketrans('', '', string.punctuation))

print("New string is ", new_str)

Original string is  /*Jon is @developer & musician
New string is  Jon is developer  musician

In [20]:
#Exercise 16: Removal all characters from a string except integers
str1 = 'I am 25 years and 10 months old'
print("Original string is", str1)

# Retain Numbers in String
# Using list comprehension + join() + isdigit()
res = "".join([item for item in str1 if item.isdigit()])

print(res)

Original string is I am 25 years and 10 months old
2510

In [21]:
#Exercise 17: Find words with both alphabets and numbers
str1 = "Emma25 is Data scientist50 and AI Expert"
print("The original string is : " + str1)

res = []
# split string on whitespace
temp = str1.split()

# Words with both alphabets and numbers
# isdigit() for numbers + isalpha() for alphabets
# use any() to check each character

for item in temp:
    if any(char.isalpha() for char in item) and any(char.isdigit() for char in item):
        res.append(item)

print("Displaying words with alphabets and numbers")
for i in res:
    print(i)

The original string is : Emma25 is Data scientist50 and AI Expert
Displaying words with alphabets and numbers
Emma25
scientist50

In [23]:
#write a pythone program add a two no

a = int(input("inter the 1st number: "))
b = int(input("inter the second number: "))
print("add a both number: ",a+b)

inter the 1st number: 1
inter the second number: 2
add a both number:  3

In [22]:
#Exercise 18: Replace each special symbol with # in the following string
import string

str1 = '/*Jon is @developer & musician!!'
print("The original string is : ", str1)

# Replace punctuations with #
replace_char = '#'

# string.punctuation to get the list of all special symbols
for char in string.punctuation:
    str1 = str1.replace(char, replace_char)

print("The strings after replacement : ", str1)

The original string is :  /*Jon is @developer & musician!!
The strings after replacement :  ##Jon is #developer # musician##

In [29]:
#Exercise 2: Merge two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = {**dict1, **dict2}
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [30]:
#Exercise 3: Print the value of key history from the below dict
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

# understand how to located the nested key
# sampleDict['class'] = {'student': {'name': 'Mike', 'marks': {'physics': 70, 'history': 80}}}
# sampleDict['class']['student'] = {'name': 'Mike', 'marks': {'physics': 70, 'history': 80}}
# sampleDict['class']['student']['marks'] = {'physics': 70, 'history': 80}

# solution
print(sampleDict['class']['student']['marks']['history'])

80

In [31]:
#Exercise 4: Initialize dictionary with default values
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

res = dict.fromkeys(employees, defaults)
print(res)

# Individual data
print(res["Kelly"])

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}
{'designation': 'Developer', 'salary': 8000}

In [32]:
#Exercise 5: Create a dictionary by extracting the keys from a given dictionary
sampleDict = { 
  "name": "Kelly",
  "age":25, 
  "salary": 8000, 
  "city": "New york" }

keys = ["name", "salary"]

newDict = {k: sampleDict[k] for k in keys}
print(newDict)

{'name': 'Kelly', 'salary': 8000}

In [33]:
#Exercise 6: Delete a list of keys from a dictionary
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
# Keys to remove
keys = ["name", "salary"]

for k in keys:
    sample_dict.pop(k)
print(sample_dict)

{'age': 25, 'city': 'New york'}

In [34]:
#Exercise 7: Check if a value exists in a dictionary
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
    print('200 present in a dict')

200 present in a dict

In [35]:
#Exercise 8: Rename key of a dictionary
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [36]:
#Exercise 9: Get the key of a minimum value from the following dictionary
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}
print(min(sample_dict, key=sample_dict.get))

Math

In [37]:
#Exercise 10: Change value of a key in a nested dictionary
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 6500}
}

sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [ ]:
#